<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Whatsapp</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h2>All chats</h2>
        <form action="/chats/new" method="GET">
            <button>New chats</button>
        </form><br>
        <% for(let chat of chats){ %>
            <div class="chat">
                <p>From : <i><%=chat.from %></i></p>
                <div class="msg">
                    <p>msg : <%= chat.msg %></p>
                    <form action="/chats/<%=chat.id %>/edit" method="get">
                        <button>edit</button>
                    </form><br>
                    <form action="/chats/<%=chat.id %>?_method=DELETE" method="POST">
                        <button>Del</button>
                    </form>
                    
                </div>
                <p>Received By : <i><%= chat.to %></i></p>
                <p><%=chat.created_at.toString().split(" ")[4] %></p>
                <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>

            <hr><br>
        <% } %>       
    </div><br><br>

</body>
</html>