<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit form</title>
</head>
<body>
    <!-- 8,9 -->
    <h3>Edit your  chat <%=chat._id %></h3>
    <p>This chat was sent from <b><%=chat.from %></b> to <b><%=chat.to %></b></p>
    <form action="/chats/<%=chat._id%>?_method=PUT" method="post"> <!--  since html form dont have any patch or put request so i need to use mehhod overide -->
        
        <textarea name="msg" rows="10" cols="50"><%=chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>