<%- include("includes/head.ejs") %>
  <link rel="stylesheet" href="/style.css">
  <body>
    <h1>This page belongs to @<%=data.name%></h1>

    <button>Follow</button>
    <button>Message</button>

    <p>
      Followers : <%=data.followers%> &nbsp;&nbsp;Following : <%=data.following%>
    </p>
    <hr/>
    <!--    now its posts -->
     <% for(let post of data.posts){%>
      <div class="post">
        <img src="<%=post.image%>" alt="some img">
      </div>
      <p>
        
        <div class="post">
          likes : <%= post.likes%> &nbsp;&nbsp;
        comments : <%= post.comments%></p>
        </div>
     <%}%>
     
        <%- include("includes/footer.ejs") %>
  </body>

  <script src="/app.js"></script>
</html>
